<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="DEBUG" name="org.springframework.beans.factory.config"/>
    <logger level="DEBUG" name="nl.altindag"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
