name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
#    At 12:00 AM, on day 1 of the month, every 2 months
    - cron: '0 0 1 */2 *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        java: [ '21', '23']

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build and test - Without Encryption
        run: mvn clean install -Pwithout-authentication -P'!standalone-client' --no-transfer-progress

      - name: Build and test - With one way authentication
        run: mvn clean install -Pwith-one-way-authentication -P'!standalone-client' --no-transfer-progress

      - name: Build and test - With two way authentication by trusting root ca
        run: mvn clean install -Pwith-two-way-authentication-by-trusting-root-ca -P'!standalone-client' --no-transfer-progress

      - name: Build and test - With two way authentication by trusting each other
        run: mvn clean install -Pwith-two-way-authentication-by-trusting-each-other -P'!standalone-client' --no-transfer-progress

  build-on-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest ]
        java: [ '21', '23']

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build and test - Without Encryption
        run: mvn clean install --no-transfer-progress

  code-quality-scan:
    if: ${{ (github.actor == 'Hakky54') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'maven'

      - name: Build, test and quality scan
        run: mvn clean install org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Pwithout-authentication -P'!standalone-client' -Pjacoco -Dsonar.organization=hakky54 -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }} --no-transfer-progress
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
